{
  "messages": [
    {
      "attachment": {
        "type": "audio",
        "payload": {
          "url": "https://archive.org/download/Dictaphones_Lament/TychoDictaphones_Lament.mp3"
        }
      }
    }
  ]
}
